@media screen and (min-width: 740px){
    
    /* Hamburger */

    
    header {
        display: flex;
        justify-content: space-between ;
        align-items: center;
        background-color: rgb(0, 1, 23);
    }

    #menu {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }

    nav a {
        padding: 20px;
    }


    .menu-container {
        padding: 0;
    }

    nav, .menu-container {
        background-color: transparent;
    }

    #temple-text {
        margin-left: 10px;
    }

    main {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        padding: 20px;
    }

    h2 {

        padding: 10px;
        /*
        grid-row: 1;
        grid-column: 1 / 4; */
    } 


    .card-content {

        padding: 15px;
        text-align: center;
        flex-grow: 1; /* this makes all text boxes same height */
        padding: 15px;
        color: #fff; 
    }

    
}