@media screen and (min-width: 740px){
    
    /* Hamburger */

    
    header {
        display: flex;
        justify-content: space-between ;
        align-items: center;
        background-color: rgb(0, 1, 23);
    }

    #menu {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }

    nav a {
        padding: 20px;
    }


    .menu-container {
        padding: 0;
    }

    nav, .menu-container {
        background-color: transparent;
    }

    #temple-text {
        margin-left: 10px;
    }

    main {
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 10px;
    }

    h1 {
        grid-row: 1;
        grid-column: 1 / 4;
    } 

    figure {
        overflow: hidden;
    }

    img {
        transition: 0.5s ease-in-out;
    }
    figure:hover img {
        transform: scale(1.1, 0.8);
    }
}